/* Generals */
/* 
---- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
        
- FONT WEIGHTS:
Default: 400
Medium500
Semi-Bold600
Bold:700

- LINE HEIGHTS:
Default: 1 
Small: 1.05
medium: 1.3
Paragraph default: 1.6
large: 1.8


-Letter Spacing
-0.5
0.75 */
@media (max-width: 1024px) {
  .header .logo {
    font-size: 20px;
  }
  button {
    font-size: 10px;
  }
  #lets-talk-button {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
    font-weight: 600;
  }
  .nav-links a {
    font-size: 10px;
  }
  .home-elements h3 {
    font-size: 30px;
    margin-bottom: 14px;
  }
  .home-elements h1 {
    font-size: 36px;
    margin-bottom: 14px;
  }
  .home-img img {
    width: 20vw;

    margin-right: -20px;
  }

  .myparagraph {
    font-size: 12px;
  }
  .socials a {
    font-size: 1.5rem;
  }
  .socials a img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
  }

  .resume-btn {
    margin-top: 20px;
  }

  /* //about */
  .about-first h1 {
    font-size: 30px;
  }
  .about-first h2 {
    font-size: 24px;
  }
  .about-first p {
    font-size: 14px;
  }
  /*services*/
  .services .services-title h1 {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .services-list #icon {
    /* margin-top: 2rem; */
    width: 24px;
    height: 24px;
  }
  .service-title {
    font-size: 16px;
  }
  .services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .service-detail {
    font-size: 0.8rem;
  }
  /* Skills section */

  .skills-section-details svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .skills h1 {
    font-size: 30px;
  }

  .skills p {
    font-size: 12px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .skills h2 {
    font-size: 20px;
  }

  .icons-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  /*skills section */
  .projects-section h2 {
    font-size: 30px;
  }
  .project-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .project-card {
    max-width: 300px;
  }

  .project-title {
    font-size: 1.2em;
  }

  .project-description {
    font-size: 0.8em;
  }

  /* contacts section */

  .mobile {
    margin-bottom: 16px;
  }
  .contact-left h1 {
    font-size: 24px;
  }
  .contact-left {
    line-height: 1.3;
    margin-bottom: 2.4rem;
  }
  .contact-right {
    align-items: start;
  }
  .contact-symbols p {
    /* margin-top: 45px; */
    margin-bottom: 5px;
  }
  .contact-container {
    display: flex;
    justify-content: space-around;
  }
  .contact-inputs {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 15px;
  }
  .box {
    width: 300px;
  }
  #message-box {
    font-size: 14px;
  }

  .send-btn {
    font-size: 14px;
  }
  .two-lists {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .header .logo {
    font-size: 20px;
  }
  .aboutme-btn {
    font-size: 10px;
    padding: 10px;
  }
  #lets-talk-button {
    display: none;
  }
  .btn {
    font-size: 12px;
    font-weight: 600;
  }
  .resume-btn {
    font-size: 20px;
    padding: 20px;
  }
  .nav-links a {
    font-size: 10px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 2rem 9%; */
    padding-bottom: 0.2rem;
    background: black;
  }

  .home {
    background-image: url("./assets/background.jpg");
    background-position: center;
    background-size: cover;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .home-elements h3 {
    font-size: 36px;
    margin-bottom: 14px;
  }
  .home-elements h1 {
    font-size: 50px;
    margin-bottom: 14px;
  }
  .home-img img {
    display: block;
  }

  .socials a {
    font-size: 1.5rem;
  }
  .socials a img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
  }

  .resume-btn {
    margin-top: 20px;
  }

  /* //about */
  .about {
    padding-top: 30px;
    margin-top: 20px;
  }
  .about-first {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    padding: 20px;
  }
  .left-side.about-img {
    display: none;
  }
  .about-img img {
    display: none;
  }
  .right-side {
    margin: 0 auto;
    max-width: 100%;
  }
  .about-first h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
  }
  .about-first h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  .about-first p {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: 1.5;
  }
  /*services*/
  .services .services-title h1 {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .services-list #icon {
    width: 30px;
    height: 30px;
  }
  .service-title {
    font-size: 20px;
  }
  .services-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .service-detail {
    font-size: 14px;
    text-align: center;
  }
  /* Skills section */
  .skills-section-details {
    display: flex;
    flex-direction: column;
  }
  .skills-section-details svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .skills h1 {
    font-size: 30px;
  }

  .skills p {
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .skills h2 {
    font-size: 20px;
  }

  .icons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  /*skills section */
  .projects-section h2 {
    font-size: 30px;
  }
  .project-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .project-card {
    max-width: 400px;
  }

  .project-title {
    font-size: 1.2em;
  }

  .project-description {
    font-size: 0.8em;
  }

  /* contacts section */
  .contact-container {
    display: flex;
    flex-direction: column;
  }
  .contact-container h1 {
    text-decoration: block;
  }
  .mobile {
    margin-bottom: 16px;
  }
  .contact-left h1 {
    font-size: 24px;
  }
  .contact-left {
    line-height: 1.3;
    margin-bottom: 2.4rem;
  }
  .contact-right {
    align-items: start;
  }
  .contact-symbols p {
    /* margin-top: 45px; */
    margin-bottom: 5px;
  }

  .contact-inputs {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 15px;
  }
  .box {
    width: 300px;
  }
  #message-box {
    font-size: 14px;
  }

  .send-btn {
    font-size: 14px;
  }
  .two-lists {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .header .logo {
    font-size: 20px;
  }
  .aboutme-btn {
    font-size: 10px;
    padding: 10px;
  }
  #lets-talk-button {
    display: none;
  }
  .btn {
    font-size: 12px;
    font-weight: 600;
  }
  .resume-btn {
    font-size: 18px;
    padding: 18px;
  }
  .nav-links a {
    font-size: 10px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    margin-bottom: 20px;
    padding-bottom: 5px;
    background: black;
  }

  .home {
    background-image: url("./assets/background.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 100px;
    height: 100vh;
  }

  .home-elements h3 {
    font-size: 36px;
    margin-bottom: 2px;
  }
  .home-elements h1 {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .home-img img {
    display: block;
  }

  .socials {
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 5%;
  }
  .socials a {
    font-size: 1.5rem;
  }
  .socials a img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
  }

  .resume-btn {
    position: absolute;
    top: 70%;

    margin-top: 50px;
  }

  /* //about */
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-first {
    display: block;
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding: 0;
  }
  .left-side.about-img {
    display: none;
  }
  .about-img img {
    display: none;
  }
  .right-side {
    margin: 0 auto;
    max-width: 100%;
  }
  .about-first h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
  }
  .about-first h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  .about-first p {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: 1.5;
  }
  /*services*/
  .services .services-title h1 {
    font-size: 30px;
    margin-bottom: 24px;
  }
  .services-list #icon {
    width: 30px;
    height: 30px;
  }
  .service-title {
    font-size: 20px;
  }
  .services-list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .service-detail {
    font-size: 18px;
    text-align: center;
  }
  /* Skills section */
  .skills-section-details {
    display: flex;
    flex-direction: column;
  }
  .skills-section-details svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .skills h1 {
    font-size: 30px;
  }

  .skills p {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .skills h2 {
    font-size: 20px;
  }

  .icons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  /*skills section */
  .projects-section h2 {
    font-size: 30px;
  }
  .project-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .project-card {
    max-width: 300px;
  }

  .project-title {
    font-size: 1.2em;
  }

  .project-description {
    font-size: 0.8em;
  }

  /* contacts section */
  .contact-container {
    display: flex;
    flex-direction: column;
  }
  .contact-container h1 {
    text-decoration: block;
  }
  .mobile {
    margin-bottom: 16px;
  }
  .contact-left h1 {
    font-size: 24px;
  }
  .contact-left {
    line-height: 1.3;
    margin-bottom: 2.4rem;
  }
  .contact-right {
    align-items: start;
  }
  .contact-symbols p {
    /* margin-top: 45px; */
    margin-bottom: 5px;
  }

  .contact-inputs {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 15px;
  }
  .box {
    width: 300px;
  }
  #message-box {
    font-size: 14px;
  }

  .send-btn {
    font-size: 14px;
  }
  .two-lists {
    display: flex;
    flex-direction: column;
  }
}
