/* Generals */
/* 
---- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
        
- FONT WEIGHTS:
Default: 400
Medium500
Semi-Bold600
Bold:700

- LINE HEIGHTS:
Default: 1 
Small: 1.05
medium: 1.3
Paragraph default: 1.6
large: 1.8


-Letter Spacing
-0.5
0.75 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #4a4e69;
  --snd-bg-color: #ffffff;
  --text-color: #ffffff;
  --main-color: #ffbe0b;
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

section.reveal {
  opacity: 1;
  transform: translateY(0);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}
nav li {
  height: 50px;
  text-decoration: none;
}
nav a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;
  font-weight: 700;
}
nav a:hover {
  color: #3d3d3b;
  text-shadow: 0 0 5px rgba(255, 190, 11, 0.8);
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 2px #ffbe0b;
  transition: color 0.3s ease, text-shadow 0.3s ease, box-shadow 0.3s ease;
}
nav li:first-child {
  margin-right: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .logo {
  font-size: 32px;
  color: var(--text-color);
  font-weight: 700;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
}

.nav-links a {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a:active {
  color: var(--text-color);
}

.menu-button {
  display: none;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.182);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: right 0.3s ease-in-out;
}

.sidebar.active {
  right: 0;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

#lets-talk-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 2rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: none;
  font-size: 20px;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  cursor: pointer;
}

#lets-talk-button:hover {
  background-color: var(--main-color);
  transform: translateY(-2px);
}

/* active bars */
.nav-links a,
.sidebar a {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  padding: 0 30px;
  display: inline-block;
}

.nav-links a::after,
.sidebar a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}

.nav-links a.active::after,
.sidebar a.active::after {
  width: 100%;
}

.sidebar a.active {
  background-color: var(--main-color);
  color: var(--bg-color);
  border-radius: 0.25rem;
}

/* Home section */
.home {
  display: flex;
  justify-content: space-between;
  margin-top: 86px;
  /* background-color: black; */
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-size: cover;
}
.home-elements h3 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
}
.home-elements h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--main-color);
}
.home-elements h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}
.home-img img {
  width: 25vw;

  margin-right: -62px;
}
.about-img img {
  width: 25vw;

  margin-right: -62px;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.home-elements p {
  font-size: 1.6rem;
}

.socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
}
.socials a img {
  width: 42px;
  height: 42px;
  transition: transform 0.3s ease;
}
.socials a:hover {
  transform: translateY(-10px);
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  background: var(--main-color);
  border-radius: 26px;

  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.btn:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
.resume-btn {
  margin-top: 24px;
}

/* About Section */
.about-first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: start;
  text-align: start;
}
.my-paragraph {
  text-align: start;
}
.about-first h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3;
}
.about-first h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
}
.about-first p {
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Services section */
.services .services-title {
  justify-content: center;
  align-items: center;
}
.services .services-title h1 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 5rem;
}
.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
.services-list #icon {
  width: 4rem;
  height: 4rem;
  padding: 0;
}
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.service-logo {
  margin-bottom: 10px;
}

.service-title {
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.service-detail {
  font-size: 1rem;
  line-height: 1.5;
}
/* Skills section */
.skills-section-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.skills-left-side h2,
p {
  text-align: center;
}
.skills-section-details svg {
  width: 4rem;
  height: 4rem;
}
.icons-grid {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.icons-grid li {
  text-align: center;
  line-height: 2;
}

.icon {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.icon h3 {
  font-size: 16px;
}
.skills h1 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 5rem;
}
.skills p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
/* Projects section */

.projects-section {
  padding: 150px 20px 50px 20px;
  background-color: var(--bg-color);
}

.projects-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #fff;
}

.project-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  max-width: 400px;
  margin: auto;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 15px 5px rgba(255, 190, 11, 0.5);
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
}

.project-card:hover .project-title {
  color: #ffbe0b;
}

.project-description {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

.project-card:hover .project-description {
  color: #333;
}

.project-github-link {
  text-decoration: none;
  color: #007bff;
}

.project-card:hover .project-github-link {
  color: #ffbe0b;
}

.project-github-link:hover {
  text-decoration: underline;
}

/* contacts section */

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 20px;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  text-align: center;
  margin-bottom: 24px;
}

.contact-right {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact-right form {
  margin-bottom: 20px;
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Styling for labels */
.contact-inputs label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.box,
#message {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.box:focus,
#message:focus {
  border-color: dodgerblue;
}

.send-btn,
.send-another-btn {
  width: 150px;
  height: 48px;
  background-color: dodgerblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.send-btn:hover,
.send-another-btn:hover {
  background-color: #007bff;
}
#success-message {
  color: black;
}
